<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.georgetownchat"
	version 	= "1.0.0">

	<name>GeorgetownChat</name>

	<description>
		Find out where the Georgetown party is!
	</description>

	<author href="http://spencerwalsh.info"
		email="spencerwalsh@gmail.com">
		Spencer Walsh
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
